


.Subtitle
{
   font-size: 12px; 
   font-weight: bold;
   color: black;
}

.formText
{
   font-size: 11px;    
    margin-bottom: 12px;
    color: black;
}

.textInput
{
   font-size: 12px;
   width: 300px;   
   margin-bottom: 15px;
   color: black;
}

.ErrorInput
{
   font-size: 11px;
   color: Red;  
}


